WHQJAdmin/.vs/
WHQJAdmin/Services/Game.Entity/obj/
WHQJAdmin/Services/Game.Facade/obj/
WHQJAdmin/Services/Game.IData/obj/
WHQJAdmin/WebProjects/Game.Web/Game.Web.csproj.user
WHQJAdmin/WebProjects/Game.Web/obj/
WHQJAdmin/Services/Game.Data/bin/
WHQJAdmin/Services/Game.Data/obj/
WHQJAdmin/Services/Game.Entity/bin/
WHQJAdmin/Services/Game.Facade/bin/
WHQJAdmin/Services/Game.IData/bin/
WHQJAdmin/WebProjects/Game.Web/bin/
WHQJFront/.vs/
WHQJFront/Services/Functions/obj/
WHQJFront/Services/Game.Data/obj/
WHQJFront/Services/Game.Entity/obj/
WHQJFront/Services/Game.Facade/obj/
WHQJFront/Services/Game.IData/obj/
WHQJFront/WebProjects/Game.Web/obj/
WHQJFront/Services/Game.Facade/bin/
WHQJFront/WebProjects/Game.Web/bin/
WHQJFront/Services/Functions/bin/
WHQJFront/Services/Game.Data/bin/
WHQJFront/Services/Game.Entity/bin/
WHQJFront/Services/Game.IData/bin/
WHQJFront/WebProjects/Game.Web/log/
WHQJFront/WebProjects/Game.Web/Game.Web.csproj.user
