2019/11/18 16:36:47|UMeng RequestUrl:http://msg.umeng.com/api/send?sign=8f80dd3c37ad2f598401896d9e6bcd7d sb:{"appkey":"5da5bdcf0cafb27c3e000c51","timestamp":"1574066208","type":"broadcast","payload":{"display_type":"notification","body":{"ticker":"aaa","title":"aaa","text":"aaa","after_open":"go_app"}},"policy":{"start_time":"2019-11-18 16:38:39","expire_time":"2019-11-18 21:38:39",},"production_mode":"true","description":"aaa"}
2019/11/18 16:36:48|UMeng Response:OK
2019/11/18 16:36:48|UMeng RequestUrl:http://msg.umeng.com/api/send?sign=fa04003fa8d6263d440abb40ab0f5a7f sb:{"appkey":"5db270630cafb286ab0005ca","timestamp":"1574066209","type":"broadcast","payload":{"aps":{"alert":"aaa"}},"policy":{"start_time":"2019-11-18 16:38:39","expire_time":"2019-11-18 21:38:39",},"policy":{"start_time":"2019-11-18 16:38:39","expire_time":"2019-11-18 21:38:39",},"production_mode":"true","description":"aaa"}
2019/11/18 16:36:50|UMeng Response:OK
